@using Dokana.Resources
@model Dokana.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = ResourceKeys.forgotYourPassword;
}

<div class="forgotPassword">
    <div class="container">

        <form action="/account/ForgotPassword" method="post" class="siteForm">
            <h2>@ResourceKeys.forgotYourPassword</h2>

            <div class="form-group">
                @Html.ValidationSummary(true)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">@ResourceKeys.sendMeLink</button>
            </div>
        </form>

    </div>
</div>

@section Styles {
    @Styles.Render("~/siteForm")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
