@using Dokana.Resources


<div class="dropdown cPanelNav visible-xs">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Admin Menu
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        
        <li>
            <a href="/ControlPanel/index/">
                <i class="glyphicon glyphicon-dashboard"></i> @ResourceKeys.dashboard
            </a>
        </li>

        <li>
            <a href="/Products/new/">
                <i class="glyphicon glyphicon-compressed"></i> @ResourceKeys.newProduct
            </a>
        </li>

        <li>
            <a href="/Categories/New/">
                <i class="glyphicon glyphicon-grain"></i> @ResourceKeys.newCategory
            </a>
        </li>

        <li>
            <a href="/ControlPanel/Orders/">
                <i class="glyphicon glyphicon-tasks"></i> @ResourceKeys.orders
            </a>
        </li>

        <li>
            <a href="/Users/Index/">
                <i class="glyphicon glyphicon-user"></i> @ResourceKeys.users
            </a>
        </li>

        <li>
            <a href="/ControlPanel/SiteSetting/">
                <i class="glyphicon glyphicon-paperclip"></i> @ResourceKeys.siteSetting
            </a>
        </li>
    </ul>
</div>



<aside class="cPanelNav hidden-xs">
    <ul class="list-unstyled">
        <li>
            <a href="/ControlPanel/index/">
                <i class="glyphicon glyphicon-dashboard"></i> @ResourceKeys.dashboard
            </a>
        </li>

        <li>
            <a href="/Products/new/">
                <i class="glyphicon glyphicon-compressed"></i> @ResourceKeys.newProduct
            </a>
        </li>

        <li>
            <a href="/Categories/New/">
                <i class="glyphicon glyphicon-grain"></i> @ResourceKeys.newCategory
            </a>
        </li>

        <li>
            <a href="/ControlPanel/Orders/">
                <i class="glyphicon glyphicon-tasks"></i> @ResourceKeys.orders
            </a>
        </li>

        <li>
            <a href="/Users/Index/">
                <i class="glyphicon glyphicon-user"></i> @ResourceKeys.users
            </a>
        </li>

        <li>
            <a href="/ControlPanel/SiteSetting/">
                <i class="glyphicon glyphicon-paperclip"></i> @ResourceKeys.siteSetting
            </a>
        </li>
    </ul>
</aside>
