@using Dokana.Resources
@model Dokana.ViewModels.OrderFormViewModel
@{
    ViewBag.Title = ResourceKeys.createOrder;
}
<div class="newOrder">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <form action="/orders/Save" method="post" enctype="multipart/form-data" class="siteForm">
                    <div class="form-group">
                        <h2>@ViewBag.Title</h2>
                    </div>

                    <div class="form-group">
                        @Html.ValidationSummary(true)
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Order.FullName, new { @class = "form-control", placeholder = ResourceKeys.fullName })
                                @Html.ValidationMessageFor(m => m.Order.FullName)
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Order.Phone, new { @class = "form-control", @type = "tel", placeholder = ResourceKeys.mobilePhone })
                                @Html.ValidationMessageFor(m => m.Order.Phone)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Order.Country, new { @class = "form-control", placeholder = ResourceKeys.country })
                                @Html.ValidationMessageFor(m => m.Order.Country)
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Order.Region, new { @class = "form-control", placeholder = ResourceKeys.region })
                                @Html.ValidationMessageFor(m => m.Order.Region)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Order.City, new { @class = "form-control", placeholder = ResourceKeys.city })
                                @Html.ValidationMessageFor(m => m.Order.City)
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Order.Street, new { @class = "form-control", placeholder = ResourceKeys.street })
                                @Html.ValidationMessageFor(m => m.Order.Street)
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Order.MoreAboutAddress, new { @class = "form-control", placeholder = ResourceKeys.moreAboutAddress })
                        @Html.ValidationMessageFor(m => m.Order.MoreAboutAddress)
                    </div>

                    <div class="form-group text-center">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="@ResourceKeys.createOrder" class="btn btn-primary" />
                    </div>
                </form>
            </div>

            <div class="col-sm-5">
                <div class="cartItemsDetails">
                    <div class="details">
                        <h2>@ResourceKeys.products</h2>
                    </div>

                    <div class="allCartItems">

                        @foreach (var item in Model.CartItems)
                        {
                            <div class="cartItem" data-id="@item.Id">
                                <a href="/Products/details/@item.Product.Id" class="windowLink"></a>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="@item.Product.ImageSrc" class="img-responsive" alt="" />
                                    </div>

                                    <div class="col-sm-6">
                                        <h4 class="productName">@item.Product.Name</h4>
                                        <b class="price">
                                            <b>EGB</b>
                                            <span>@item.Product.Price</span>
                                        </b>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="actions text-center">
                                            <strong class="badge">@item.Amount</strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>

                </div>

                <div class="totalPrice">
                    <p>
                        <b>@ResourceKeys.total: </b>
                        <span class="price">
                            <b>EGB</b>
                            <span class="total">@Model.Order.Total</span>
                        </span>
                    </p>
                    <p>
                        <b>@ResourceKeys.shippingFee: </b>
                        <span class="price">
                            <b>EGB</b>
                            <span class="shippingAmount">@Model.Order.ShippingAmount</span>
                        </span>
                    </p>
                    <p>
                        <b>@ResourceKeys.grandTotal: </b>
                        <span class="price">
                            <b>EGB</b>
                            <span class="grandTotal">@Model.Order.GrandTotal</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    @Styles.Render("~/siteForm")
    @Styles.Render("~/orderForm")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}